<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.ontoprise.ontostudio.wizards"
            class="org.neontoolkit.upm.owldoc.plugin.OWLDocExportWizard"
            icon="./icons/owldoc-export.gif"
            id="NeOn-OWLDoc-Plugin.wizard"
            name="OWLDoc Export">
         <description/>
      </wizard>
   </extension>
   <extension
         point="org.neontoolkit.upm.gontt">
      <plugin
            activityId="ontologyDocumentation"
            name="OWLDoc"
            perspectiveId="com.ontoprise.ontostudio.owl.perspectives.OWLPerspective"
            pluginHelpId="org.neontoolkit.upm.owldoc.cheatsheet.ontologyLocalizationIntro"
            viewId="org.neontoolkit.gui.views.propertiesview">
      </plugin>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
         <cheatsheet
            composite="false"
            contentFile="resources/xml/ontologyDocumentationIntro.xml"
            id="org.neontoolkit.upm.owldoc.cheatsheet.ontologyLocalizationIntro"
            name="Ontology Documentation Intro">
      </cheatsheet>
   </extension>
   <extension point="org.eclipse.help.toc"> 
		<toc extradir="resources/html" primary="true" file="resources/xml/toc.xml"/> 
	</extension>
</plugin>
