<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            icon="icons/csearch_obj.GIF"
            name="%ontology"
            pageClass="org.neontoolkit.search.workingset.OntologyWorkingSetPage"
            id="org.neontoolkit.search.ontologyWorkingSet"/>
   </extension>

   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.neontoolkit.search.ui.SearchResultPage"
            icon="icons/csearch_obj.GIF"
            id="org.neontoolkit.search.ui.SearchResultPage"
            searchResultClass="org.neontoolkit.search.ui.SearchResult">
      </viewPage>
   </extension>

<!--
  id="org.neontoolkit.search.ui.SearchResultPage"
  id="org.eclipse.search.SearchResultView"
  id="org.eclipse.search.ui.views.SearchView"
-->

  <extension 
  	point="org.eclipse.ui.perspectiveExtensions">
  	<perspectiveExtension
  		targetID="com.ontoprise.ontostudio.owl.perspectives.OWLPerspective">
  		<view
          closeable="true"
  		  id="org.eclipse.search.SearchResultView"
          moveable="true"
          ratio="0.8"
          relationship="bottom"
          relative="org.neontoolkit.gui.views.propertiesview"
          visible="false"/>
  	</perspectiveExtension>
  </extension>


</plugin>
