<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            icon="icons/csearch_obj.GIF"
            name="%ontology"
            pageClass="org.neontoolkit.search.workingset.OntologyWorkingSetPage"
            id="org.neontoolkit.search.ontologyWorkingSet"/>
   </extension>
 
<!--
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
      		icon="icons/csearch_obj.GIF"
      		label="%owlsearch"
            class="org.neontoolkit.search.ui.AbstractSearchTreeResultPage"
            searchResultClass="org.neontoolkit.search.ui.OWLTreeSearchResult"
            id="com.ontoprise.ontostudio.search.owl.ui.OWLSearchResultPage"/>
   </extension>
   
   -->

</plugin>
