<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="com.ontoprise.ontostudio.owl.model.OWLModelPluginPreferenceInitializer"/>
	</extension>
 <extension
       point="org.neontoolkit.core.ontologyProject">
    <factory
          class="com.ontoprise.ontostudio.owl.model.OWLManchesterProjectFactory"
          id="com.ontoprise.ontostudio.owl.model.OWLManchesterProjectFactory">
    </factory>
 </extension>

</plugin>
