<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.neontoolkit.ontovisualize.visualizerContext">
      <visualizerContext
            configuratorClass="com.ontoprise.ontostudio.owl.visualize.VisualizerConfiguration"
            ontologyLanguage="OWL">
         <nodeContentProviderDefinition
               contentProvider="com.ontoprise.ontostudio.owl.visualize.nodes.contentprovider.OntologyNodeContentProvider"
               id="com.ontoprise.ontostudio.owl.visualize.ontologyNode"
               nodeClass="com.ontoprise.ontostudio.owl.visualize.nodes.OntologyNode"
               treeElementClass="com.ontoprise.ontostudio.owl.gui.navigator.ontology.OntologyTreeElement">
         </nodeContentProviderDefinition>
         <nodeContentProviderDefinition
               contentProvider="com.ontoprise.ontostudio.owl.visualize.nodes.contentprovider.ClazzNodeContentProvider"
               id="com.ontoprise.ontostudio.owl.visualize.clazzNode"
               nodeClass="com.ontoprise.ontostudio.owl.visualize.nodes.ClazzNode"
               treeElementClass="com.ontoprise.ontostudio.owl.gui.navigator.clazz.ClazzTreeElement">
         </nodeContentProviderDefinition>
         <nodeContentProviderDefinition
               contentProvider="com.ontoprise.ontostudio.owl.visualize.nodes.contentprovider.IndividualNodeContentProvider"
               id="com.ontoprise.ontostudio.owl.visualize.individualNode"
               nodeClass="com.ontoprise.ontostudio.owl.visualize.nodes.IndividualNode"
               treeElementClass="com.ontoprise.ontostudio.owl.gui.individualview.NamedIndividualViewItem">
         </nodeContentProviderDefinition>
         <nodeContentProviderDefinition
               contentProvider="com.ontoprise.ontostudio.owl.visualize.nodes.contentprovider.IndividualObjectPropertyNodeContentProvider"
               id="com.ontoprise.ontostudio.owl.visualize.individualObjectPropertyMemberNode"
               nodeClass="com.ontoprise.ontostudio.owl.visualize.nodes.ObjectPropertyNode"
               treeElementClass="com.ontoprise.ontostudio.owl.gui.navigator.property.objectProperty.ObjectPropertyTreeElement">
         </nodeContentProviderDefinition>
         <nodeContentProviderDefinition
               contentProvider="com.ontoprise.ontostudio.owl.visualize.nodes.contentprovider.IndividualDataPropertyNodeContentProvider"
               id="com.ontoprise.ontostudio.owl.visualize.individualDataPropertyMemberNode"
               nodeClass="com.ontoprise.ontostudio.owl.visualize.nodes.DataPropertyNode"
               treeElementClass="com.ontoprise.ontostudio.owl.gui.navigator.property.dataProperty.DataPropertyTreeElement">
         </nodeContentProviderDefinition>
      </visualizerContext>
      <visualizerContext
            configuratorClass="com.ontoprise.ontostudio.owl.visualize.VisualizerConfiguration"
            ontologyLanguage="OWL2">
         <nodeContentProviderDefinition
               contentProvider="com.ontoprise.ontostudio.owl.visualize.nodes.contentprovider.OntologyNodeContentProvider"
               id="com.ontoprise.ontostudio.owl.visualize.ontologyNode"
               nodeClass="com.ontoprise.ontostudio.owl.visualize.nodes.OntologyNode"
               treeElementClass="com.ontoprise.ontostudio.owl.gui.navigator.ontology.OntologyTreeElement">
         </nodeContentProviderDefinition>
         <nodeContentProviderDefinition
               contentProvider="com.ontoprise.ontostudio.owl.visualize.nodes.contentprovider.ClazzNodeContentProvider"
               id="com.ontoprise.ontostudio.owl.visualize.clazzNode"
               nodeClass="com.ontoprise.ontostudio.owl.visualize.nodes.ClazzNode"
               treeElementClass="com.ontoprise.ontostudio.owl.gui.navigator.clazz.ClazzTreeElement">
         </nodeContentProviderDefinition>
         <nodeContentProviderDefinition
               contentProvider="com.ontoprise.ontostudio.owl.visualize.nodes.contentprovider.IndividualNodeContentProvider"
               id="com.ontoprise.ontostudio.owl.visualize.individualNode"
               nodeClass="com.ontoprise.ontostudio.owl.visualize.nodes.IndividualNode"
               treeElementClass="com.ontoprise.ontostudio.owl.gui.individualview.NamedIndividualViewItem">
         </nodeContentProviderDefinition>
         <nodeContentProviderDefinition
               contentProvider="com.ontoprise.ontostudio.owl.visualize.nodes.contentprovider.IndividualObjectPropertyNodeContentProvider"
               id="com.ontoprise.ontostudio.owl.visualize.individualObjectPropertyMemberNode"
               nodeClass="com.ontoprise.ontostudio.owl.visualize.nodes.ObjectPropertyNode"
               treeElementClass="com.ontoprise.ontostudio.owl.gui.navigator.property.objectProperty.ObjectPropertyTreeElement">
         </nodeContentProviderDefinition>
         <nodeContentProviderDefinition
               contentProvider="com.ontoprise.ontostudio.owl.visualize.nodes.contentprovider.IndividualDataPropertyNodeContentProvider"
               id="com.ontoprise.ontostudio.owl.visualize.individualDataPropertyMemberNode"
               nodeClass="com.ontoprise.ontostudio.owl.visualize.nodes.DataPropertyNode"
               treeElementClass="com.ontoprise.ontostudio.owl.gui.navigator.property.dataProperty.DataPropertyTreeElement">
         </nodeContentProviderDefinition>
      </visualizerContext>
   </extension>

     <!-- OntologyNavigator Actions -->
	 <extension
         point="org.eclipse.ui.popupMenus">
      <!-- Ontology Actions -->
      <objectContribution
            objectClass="com.ontoprise.ontostudio.owl.gui.navigator.ontology.OntologyTreeElement"
            id="com.ontoprise.ontostudio.gui.navigator.actions">
        <menu
         		id="visualize.visOnto"
         		label="Visualize Ontology..."
         		path="navigator.vizOnto">
         	<seperator name="VisOnto"/>
         </menu>
         <action
               class="com.ontoprise.ontostudio.owl.visualize.action.VisualizeOWLOntologyAction"
               enablesFor="1"
               icon="icons/Graph.gif"
               id="com.ontoprise.ontostudio.rdf.visualize.action.VisualizeOWLOntologyAction"
               label="%visualizeOntologySchema"
               menubarPath="visualize.visOnto/VisOnto"
               tooltip="%visualizeOntologySchema">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="com.ontoprise.ontostudio.owl.gui.navigator.clazz.ClazzTreeElement"
            id="com.ontoprise.ontostudio.gui.navigator.actions">
        <menu
         		id="visualize.visClass"
         		label="Visualize Class..."
         		path="navigator.vizClass">
         	<seperator name="VisClass"/>
         </menu>
         <action
               class="com.ontoprise.ontostudio.owl.visualize.action.ShowInVisualizerOWLAction"
               enablesFor="1"
               icon="icons/Graph.gif"
               id="com.ontoprise.ontostudio.rdf.visualize.actions.ShowInVisualizerOWLAction"
               label="%inVisualizer"
               menubarPath="visualize.visClass/VisClass"
               tooltip="%inVisualizer">
         </action>
      </objectContribution>
	</extension>

</plugin>
