<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="ntk-base-win32">
<locations>
<location path="${project_loc}/ntk-base-plugins" type="Directory"/>
<location path="${project_loc}/delta-packs/Win32" type="Directory"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
</environment>
</target>
