<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>  



   
<!-- Toolbar Actions -->
   <!--extension
         point="org.eclipse.ui.actionSets"
         id="actions">
      <actionSet
            label="%loadSaveOntologyAction"
            visible="false"
            id="actionSet">
         <action
               label="%saveOntologyAsLabel"
               icon="icons/saveas.gif"
               tooltip="%saveOntologyAsTooltip"
               class="com.ontoprise.ontostudio.io.actions.SaveAsOntologyAction"
               menubarPath="File/additions"
               id="SaveAsOntologyAction">
         </action>
         <action
               label="%saveOntologyLabel"
               class="com.ontoprise.ontostudio.io.actions.SaveOntologyAction"
               tooltip="%saveOntologyLabel"
               icon="icons/floexport.gif"
               menubarPath="File/additions"
               id="SaveOntologyAction"/>
      </actionSet>
   </extension-->
</plugin>
