<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
	<extension point="org.eclipse.help.toc">
		<toc file="toc.xml" primary="true"></toc>
		<toc file="toc2.xml" primary="true"></toc>
		<toc file="toc-usage.xml" primary="true"></toc>
	</extension>
	
	<extension point="org.eclipse.help.contexts">
		<contexts file="help_contexts.xml" plugin="com.ontoprise.ontostudio.owl.help"/>
	</extension>
</plugin>
